/* NAV CSS*/

.nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    gap: 5px;
    color: white;
    padding: 15px;
    font-size: 2em;
}

.nav a {
    color: bisque;
    text-decoration: none;
    margin-right: 200px;
  }



/* BOOK CSS*/

.pop-img {
  transition: transform .5s;
}

.pop-img:hover {
  transform: scale(1.3);
}


/* DISPLAY BOOK INFO PAGE*/

.title-link {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  color: white;

}
